main {
    font-family: 'Exo';
}

h3 {
    margin-top: 30px;
    text-align: center;
}

img {
    width: 80%;
}

.card {
    margin-bottom: 20px;
}

.number-id {
    color: #949494;
}

button.btn {
    background-color: #d71818;
    color: #FFF;
}

.badget {
    text-align: center;
    border-radius: 5px;
    color: #FFF;
}


/* FUEGO */

.element-1 {
    background-color: #fe421c;
}


/* DRAGÓN */

.element-2 {
    background-color: #7e6cf9;
}


/* VOLADOR */

.element-3 {
    background-color: #699fff;
}


/* AGUA */

.element-4 {
    background-color: #2f9aff;
}


/* PLANTA */

.element-5 {
    background-color: #79ce55;
}


/* ELÉCTRICO */

.element-6 {
    background-color: #ffd233;
}


/* FANTASMA */

.element-7 {
    background-color: #4b4b9f;
}


/* PSÍQUICO */

.element-8 {
    background-color: #ff569e;
}


/* ROCA */

.element-9 {
    background-color: #bcac66;
}


/* VENENO */

.element-10 {
    background-color: #9c428b;
}


/* NORMAL */

.element-11 {
    background-color: #b9b6a8;
}


/* BICHO */

.element-12 {
    background-color: #abbc1c;
}


/* HIELO */

.element-13 {
    background-color: #78deff;
}


/* ACERO */

.element-14 {
    background-color: #a9aabb;
}


/* TIERRA */

.element-15 {
    background-color: #ddbb54;
}


/* HADA */

.element-16 {
    background-color: #ffacff;
}


/* LUCHA */

.element-17 {
    background-color: #c25745;
}


/* SINIESTRO */

.element-18 {
    background-color: #785442;
}