<main class="mt-4 mb-5">
    <div class="container">
        <div *ngIf="pokemons.length > 0">
            <div class="row">
                <div class="col-12">
                    <h2>{{ title }}</h2>
                    <div class="card mb-3" *ngFor="let pokemon of pokemons">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="card-body text-center">
                                    <img src="{{ pokemon.image }}" class="card-img" alt="{{ pokemon.name }} image">
                                    <h3 class="card-title">{{ pokemon.race }} <span class="number-id"> #{{ pokemon.pokemonNumber | number: '3.0' }}</span></h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card-body pt-4">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="card-text"><strong>Nombre: </strong>
                                                        <span *ngIf="pokemon.name !== undefined">{{ pokemon.name }}</span>
                                                        <span *ngIf="pokemon.name === undefined"><i>-</i></span>
                                                    </p>
                                                    <p class="card-text"><strong>Nivel:</strong> {{ pokemon.level }}</p>
                                                    <p class="card-text"><strong>Categoría:</strong> {{ pokemon.category }}</p>
                                                    <p class="card-text"><strong>Tipo:</strong></p>
                                                    <div class="row">
                                                        <div class="col-6" *ngFor="let type of pokemon.types">
                                                            <div class="badget element-{{ type.id }}">{{ type.name }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <p class="card-text"><strong>Débil contra: </strong></p>
                                                    <div class="row">
                                                        <div class="col-6" *ngFor="let weakness of pokemon.weaknesses">
                                                            <div class="badget mb-3 element-{{ weakness.id }}">{{ weakness.name }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <p class="description mt-4"><strong>Descripción:</strong></p>
                                                    <p>{{ pokemon.description }}</p>
                                                    <button class="btn btn-lg btn-block mt-2" (click)="freePokemon(pokemon)">Liberar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="pokemons.length === 0">
            <div class="row">
                <div class="col-12">
                    <h2>No hay Pokémons en el laboratorio</h2>
                </div>
            </div>
        </div>
    </div>
</main>