<main class="mt-4 mb-5">
    <div class="container">
        <div *ngIf="pokemons.length > 0">
            <div class="row">
                <div class="col-12">
                    <h2>{{ title }}</h2>
                    <div class="grid grid-pad">
                        <div class="row">
                            <div class="col-3 container-pokemon" *ngFor="let pokemon of pokemons">
                                <div class="card">
                                    <div class="card-body">
                                        <img class="card-img-top" src="{{ pokemon.image }}" alt="Avatar de {{ pokemon.race }}">
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="card-title race">{{ pokemon.race }}</h4>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-lg btn-block" (click)="throwPokeball(pokemon)">Capturar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="pokemons.length === 0">
            <div class="row">
                <div class="col-12">
                    <h2>No hay Pokémons en libertad</h2>
                </div>
            </div>
        </div>
    </div>
</main>