<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" routerLink="/"><img class="logo" src="/assets/img/logo.png" alt="{{ title | uppercase }}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/lab"><img src="/assets/img/pokeball.png" alt="Icon Pokéball"></a>
            </li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>

<footer class="container-fluid">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="text-center">
                <div class="card-body">
                    <img src="/assets/img/logo.png" alt="{{ title }}" />
                    <p class="card-text">{{ copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>