nav,
main,
footer {
    font-family: 'Exo';
}

nav {
    background-color: #FFF;
}

.nav-item a {
    text-decoration: none;
    color: #202020;
}

.nav-item .badget {
    padding-left: 5px;
}

.nav-item img {
    height: 30px;
}

nav img.logo {
    height: 60px;
}

footer {
    background-color: #0b285f;
    color: #FFF;
}

footer img {
    width: 100%;
}